
.body{
    background-image: url(/images/jeremy-thomas-4dpAqfTbvKA-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.contactform{
    text-align: center;
    
}



 
        
    
    
   
    
